.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fa8072;
}

.nav a {
  color: #8b0000;
  padding: 15px 10px;
  text-align: center;
}

.nav a:hover {
  background: #adff2f;
}

@media (min-width: 320px) {
  .title, .nav {
    font-size: 16px;
  }
}

@media (min-width: 481px) {
  .nav {
    flex-direction: column;
  }
  .title, .nav {
    font-size: 24px;
  }
}

@media (min-width: 641px) {
  .nav {
    justify-content: space-around;
  }
  .nav a {
    flex-grow: 1;
  }
  .title, .nav{
    font-size: 32px;
  }
}

@media (min-width: 961px) {
  .title, .nav {
    font-size: 40px;
  }
}

@media (min-width: 1025px) {
  .title, .nav {
    font-size: 48px;
  }
}

@media (min-width: 1281px) {
  .title, .nav {
    font-size: 56px;
  }
}
